* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    background: #c0a27a;
    height: 200vh;
}

.header-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    z-index: 999;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    /* margin-top: 20px; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 80px;
    overflow: hidden;
    transition: height 0.3s ease;
    padding: 10px 0;
}

.header-inner:hover {
    height: 300px;
}

.header-logo img {
    height: 50px;
}

nav.header-nav {
    display: flex;
    align-items: flex-start;
    /* 메뉴가 내려올 수 있게 */
}

.header-nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
    width: 200%;
}

.header-nav-item {
    position: relative;
    width: 5rem;
    text-align: center;
}

.header-nav-item>a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0;
    display: block;
    transition: color 0.2s ease;
    /* width: 10em; */
}

.header-nav-item>a:hover {
    background-color: #ffcc00;
}

.header-submenu {
    list-style: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.header-inner:hover .header-submenu {
    opacity: 1;
    max-height: 200px;
}

.header-submenu-item a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: block;
    padding: 5px 0;
}

.header-submenu-item a:hover {
    background-color: #ffcc00;
}

.header-nav-item:hover {
    background-color: #ffcc00;
    height: 20rem;
}

.header-submenu-item:hover {
    text-decoration: underline;
    justify-content: center;
}


.header-nav-move-bar-link {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-nav-move-bar-link-click {
    width: 45px;
    height: 45px;
    border: 3px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all 0.25s ease;
}

.header-nav-move-bar-link-click a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header-nav-move-bar-link-click img {
    display: block;
    object-fit: contain;
}


.header-nav-move-bar-link-click:hover {
    background-color: #ffcc00;
    border-style: none;
}